<div class="container">
    <div class="card">
        <div class="card-header bg-info">
            <h4>TelurAnjay</h4>
        </div>
        <div class="card-body">
            <form action="<%= targetRoute %>" method="post">
                Nama telur
                <input type="text" name="jenis_telur" id="jenis_telur" class="form-control" value="<%= jenis_telur %>"
                    required />

                Stok
                <input type="number" name="stok" id="stok" class="form-control" value="<%= stok %>" required />

                Harga
                <input type="number" name="harga" id="harga" class="form-control" value="<%= harga %>" required />


                <button type="submit" class="btn btn-success mt-2">
                    Simpan
                </button>
            </form>
        </div>
    </div>
</div>