* {
    /* margin luar
    padding dalam */
    padding: 0;
    margin: 0;
}



.container {
    width: 100%;
}

#header {
    width: 100%; /**lebar*/
    height: 30vh; /**tinggi*/

    /* vh viewport height*/
    /** vw viewport weight*/
    background: url(alam.jpg);
    background-position: center;
    background-size: cover;


    /* cara membuat konten menjadi tengah */
    display: flex;
    justify-content: center; /**untuk center secara horizontal*/
    align-items: center; /**untuk center vertical*/

    position: relative; /**posisi sebenernya tetapi bisa diubah(property top,right,left,bottom)*/

}

.dark {
    width: 100%;
    height: 30vh;
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;  /**transparan*/
}

.title {
    position: absolute; /**menghitung dari bunngkus relative(tengah)*/
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;/**untuk mengkapital text*/
    font-family: monospace;  /** untuk memilih font*/
    width: 100vw;
}

.subtitle {
    position: absolute;
    color: white;
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
    font-family: cursive;
    width: 100%;

}
#deskripsi{
    width: 150%;
    display: flex;
}
.img-deskripsi{
width: 100%;
padding: 5px;
}
.img-deskripsi > img{
    width: 100%;
}
.textdeskripsi{
    width: 100%;
    padding: 10px;

}
.textdeskripsi > h3{
    font-size: 40px;
    font-family: cursive;
}
.textdeskripsi > p{
    text
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* setting untuk ukuran smartphone */
[class*="col-"]{
    width: 100%;
}
/* ukuran untuk tablet */
@media only screen and (min-width:600px){
    .col-md-1{
        width: 8,33%;
    }
    .col-md-2{
        width: 16,66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33,33%;
    }
    .col-md-5{
        width: 41,66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58,66%;
    }
    .col-md-8{
        width: 66,66%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83,33%;
    }
    .col-md-11{
        width: 91,66%;
    }
    .col-md-12{
        width: 100%;
    }
}
@media only screen and (min-width:780px) {
    .col-lg-1{
        width: 8,33%;
    }
    .col-lg-2{
        width: 16,66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33,33%;
    }
    .col-lg-5{
        width: 41,66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58,66%;
    }
    .col-lg-8{
        width: 66,66%;
    }
    .col-lg-9{
        width: 75%;
    }

    .col-lg-10{
        width: 83,33%;
    }
    .col-lg-11{
        width: 91,66%;
    }
    .col-lg-12{
        width: 100%;
    }
}
.container{
    width: 100%;
}

#header{
    width: 100%;
    height: 30vh;
    /* vh: viewport height */
    background: url("alam.jpg");
    background-position: center;
    background-size: cover;
    
    /* cara membuat konten menjadi di tengah */
    display: flex;
    /* center secara horizontal */
    justify-content: center;
    /* center setara vertikal */
    align-items: center;

    position: relative;
}
.dark{
    width: 100%;
    height: 30vh;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    /* traspancy */
}
.title{
    position: absolute;
    /* warna teks */
    color: white;
    /* ukuran teks */
    font-size: 50px;
    /* posisi teks */
    text-align: center;
    /* cara mengganti normal menjadi kapital */
    text-transform: uppercase;
    font-family: cursive;
    width: 70vw;
}
.subtitle{
    position: absolute;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    font-family: cursive;
    width: 100%;
}
#deskripsi{
    width: 100%;
    /* display: flex; */
}

.image-deskripsi{
    /* width: 50%; */
    padding: 5px;
}
.galeri>img {
    width: 25%;
}

#gallery {
    margin-top: 30px;
}

#gallery>h3 {
    text-align: center;
    font-size: 30px;
}

.box {
    background-color: thistle;
    height: 300px;
    margin: 10px;
    position: relative;
}

.bungkus-box {
    justify-content: center;
}

.box>img {
    width: 100%;
    height: 100%;
}

.box>h5 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: darkslategray;
    text-align: center;
    width: 100%;

    font-size: 17px;
    padding: 5px;
    font-family: "Tahoma";
}

.box:hover img {
    transform: scale(1.1);
}

.box:hover h5 {
    transform: scale(1.1);
}

#statistik {
    margin-top: 30px;
}

#statistik>h3 {
    text-align: center;
    font-size: 30px;
}

.bungkus-circle {
    justify-content: center;
}

.box-circle {
    margin: 5px;
    height: 400px;
    background-color: rgb(48, 136, 67);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-wrap: wrap; /**/
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-top: 20px;
    
    /* Buat nengahin tulisan */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    color: coral;
    font-weight: bolder;
    font-family: "Tahoma";

    transition: transform 3s;
}

.circle :hover{
    transform: rotateY(360deg);
}

#secreto{
    margin-top: 20px;
}
#secreto>h3{
    text-align: center;
font-size: 35px;
text-transform: uppercase;
font-family: "tahoma";

}
.form-input{
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
}
#secretoform>strong{
    font-size: 15px;
}

#secreto>form>button{
    padding: 15px;
    background-color: white;
    color: coral;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 15px;
    font-weight: bold;
    border-radius: 5px;
}